PORT=5000
MONGO_URI=mongodb+srv://ajmalfayizny_db_user:H4zFQfxys0JRKtpT@cluster0.tuenace.mongodb.net/?appName=Cluster0
JWT_SECRET=backend-secret-key
JWT_EXPIRE=7d

RAZORPAY_KEY_SECRET=1jABrLcKg4v6tOCrbNClX7l9
RAZORPAY_KEY_ID=rzp_test_TYn081pR9xc6KC
