@import "tailwindcss";

.btn-1 {
    background-color: #272757;
}

.btn-1:hover {
    background-color: #6161dc;
}

.homepage {
    background-color: #f2f4f7;
}

.text-1{
    color: #272757;
    font-weight:    normal;
    font-size: small;
}

.text-2{
    color: #272757;
}